# Python
*.pyc
*.pyo
*.pyd
__pycache__
*.so
*.egg
*.egg-info
dist
build

# Environments
.venv
env/
venv/
ENV/

# Pip
pip-log.txt
pip-delete-this-directory.txt

# IDEs
.idea/
*.iml
*.ipr
*.iws
.vscode/
*.swp
*.swo
*.swn
*.bak
*.orig
*.py,cover
*.diff
*.patch
*.rej
*.sublime-project
*.sublime-workspace
*.komodoproject
*.tm_project
*.settings
*.project
*.pydevproject
*.loadpath
*.tern-project
*.sublime-workspace
*.tm_project
*.komodoproject
*.idea/
*.vscode/

.DS_Store
.ipynb_checkpoints
__pycache__
.idea
*.pyc
/dist/
/*.egg-info